include ../../../node_modules/bemto.pug/bemto

+b.contacts Contacts
  +e.A.link(
    v-for="(item, index) in commonData.socials",
    v-if="item",
    :href="item",
    target="_blank",
    rel="nofollow",
    :key="index"
  )
    icon(:id="index")
