include ../../../node_modules/bemto.pug/bemto

+b.contacts Contacts
  ul
    li( v-for="(item, index) in commonData.socials", v-if="item")
        a.link(
          :href="item",
          target="_blank",
          rel="nofollow",
          :key="index"
        )
          icon(:id="index")
