include ../../../node_modules/bemto.pug/bemto

+b.HEADER.header
  +b.list
    +e.item
      +e.ROUTER-LINK.link(:to="{name: 'Home'}") Home link
    +e.item
      +e.ROUTER-LINK.link(:to="{name: 'Contacts'}") Contacts link
