include ../../../node_modules/bemto.pug/bemto

+b.page(
  id="app",
  :class="{" +
  "'page_ui_white': app.uiColor === 'white'," +
  "'page_ui_black': app.uiColor === 'black'" +
  "}"
)
  transition(
    appear,
    @enter="hookAppEnter"
  )
    +e.wrapper(v-if="app.isReady")
      headerModule(v-if="app.isReady")

      transition(
        appear,
        @enter="fadeIn",
        @leave="fadeOut",
        mode="out-in"
      )
        +e.inner(:key="$route.path")
          router-view
